<div class="p-grid">
    <div class="p-col-12">
        <app-offer-list
                [offersIn]="offers"
                [paginatorIn]="paginator"
                [formOfferIn]="formOffer"
                (offersOut)="offers=$event"
                (displayOut)="offerDialog=$event"
                (formOfferOut)="formOffer=$event"
                (paginatorOut)="getoffers($event)">
        </app-offer-list>
        <!--
        <p-dialog [(visible)]="offerDialog" [style]="{width: '450px'}" header="Habilidades" [modal]="true"
                  styleClass="p-fluid" (onHide)="offerDialog=false">
            <app-offer-form
                    [offersIn]="offers"
                    [formOfferIn]="formOffer"
                    (offersOut)="offers=$event"
                    (displayOut)="offerDialog=$event">
            </app-offer-form>
        </p-dialog> 
        -->
    </div>
</div>