<div class="card">
    <h5>Mi Empresa</h5>
    <p-tabView>
        <p-tabPanel header="Mi Perfil" leftIcon="pi pi-id-card" tooltip="">
            <app-profile></app-profile>
        </p-tabPanel>
        <p-tabPanel header="Ofertas" leftIcon="pi pi-id-card" tooltip="">
            <app-offer></app-offer>
        </p-tabPanel>
        <p-tabPanel header="Profesional" leftIcon="pi pi-users" tooltip="">
            <app-professional></app-professional>
        </p-tabPanel>
    </p-tabView>
</div>
