.card1 {
    margin: 0 auto;
    width: 80%;
    background: rgb(255, 253, 253);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
    float: none;
   }
 