    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevos" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                (click)="openNewUserForm()"></button>
            <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger p-mr-2 p-mb-2"
                (click)="deleteUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
            <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-info"
                (click)="paginatorUserOut.emit(paginatorUserIn)"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
                (click)="dt.exportCSV()"></button>
        </ng-template>
    </p-toolbar>
    <app-skeleton *ngIf="flagUsers" [type]="'user-admin'"></app-skeleton>
    <div class="card" [hidden]="flagUsers">
    <p-paginator [rows]="paginatorUserIn.per_page" [totalRecords]="paginatorUserIn.total" (onPageChange)="paginateUser($event)">
    </p-paginator>
    <p-table #dt [value]="usersIn" [columns]="colsUser" [paginator]="false" [(selection)]="selectedUsers"
        [rowHover]="true" [responsive]="true" dataKey="id" styleClass="p-datatable-customers"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-fluid">
                <div class="p-field">
                    <h5>Usuarios</h5>
                </div>
                <div class="p-field">
                    <i class="p-input-icon-left">
                        <i class="pi pi-search" (click)="searchUsers($event,searchUser.value)"></i>
                        <input #searchSkill pInputText type="text" class="p-text-uppercase"
                            (keyup)="searchUsers($event,$event.target.value)" placeholder="Buscar..." />
                    </i>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="text-align:center">
                    <button pButton pRipple type="button" id="btnOptions" icon="pi pi-cog" class="p-button-secondary"
                        disabled></button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-rowData>
            <tr>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]?.name ? rowData[col.field]?.name : rowData[col.field]}}
                </td>
                <td style="text-align:center">
                    <button pButton pRipple type="button" id="btnEdit" pTooltip="Editar" icon="pi pi-pencil"
                        class="p-button-rounded p-button-warning" (click)="openEditUserForm(rowData)"></button>
                    <button pButton pRipple type="button" id="btnDelete" pTooltip="Eliminar" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-ml-2" (click)="deleteUsers(rowData)"></button>
                    <button pButton pRipple type="button" id="btnAttach" pTooltip="Administrar Roles"
                        icon="pi pi-sitemap" class="p-button-rounded p-ml-2"
                        (click)="selectUser(rowData);openViewRoles()"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{paginatorUserIn?.total ? paginatorUserIn.total : 0 }} registros.
            </div>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns?.length">
                    No se encontraron registros
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialogViewRoles"
          [style]="{width: '60%'}"
          header="{{userName}}"
          [modal]="true"
          styleClass="p-fluid"
          (onHide)="dialogViewRoles=false"
          position="center">
    <app-dialog
    [rolesIn]="rolesIn"
    [rolesUser]="rolesUser"
    [userName]="userName"
    [userId]="userId"
    (displayOut)="dialogViewRoles=$event">
    </app-dialog>
</p-dialog>