<div class="card">
    <p-tabView>
        <p-tabPanel header="Usuarios" leftIcon="pi pi-users">
            <app-user-list
            [usersIn]="users"
            [paginatorIn]="paginator"
            (usersOut)="setUsers($event)">
    </app-user-list>
        </p-tabPanel>
        <p-tabPanel header="Asignar Roles" leftIcon="pi pi-shield">
            roles
        </p-tabPanel>
        <p-tabPanel header="Permisos y Roles" leftIcon="pi pi-lock">
            permisos y roles
        </p-tabPanel>
    </p-tabView>
</div>
