<div class="card">
    <p-tabView>
        <p-tabPanel header="Usuarios" leftIcon="pi pi-users">
            <app-user-list
                [usersIn]="users"
                [rolesIn]="roles"
                [paginatorUserIn]="paginatorUser"
                [formUserIn]="formUser"
                [flagUsers]="flagUsers"
                (formUserOut)="formUser=$event"
                (displayOut)="userDialog=$event"
                (displayEditOut)="userEditDialog=$event"
                (paginatorUserOut)="getUsers($event)">
            </app-user-list>
        </p-tabPanel>
        <p-tabPanel header="Roles y Permisos" leftIcon="pi pi-lock">
            <app-roles-list
            [rolesIn]="rolesP"
            [permissionsIn]="permissions"
            [paginatorRoleIn]="paginatorRole"
            [formRoleIn]="formRole"
            [flagRoles]="flagRoles"
            (formRoleOut)="formRole=$event"
            (displayRoleEditOut)="roleEditDialog=$event"
            (paginatorRoleOut)="getRolesP($event)">
            </app-roles-list>
        </p-tabPanel>
    </p-tabView>
    <p-dialog [(visible)]="userDialog" [style]="{width: '850px'}" header="Usuario" [modal]="true"
        styleClass="p-fluid" (onHide)="userDialog=false">
        <app-user-form 
            [usersIn]="users"
            [rolesIn]="roles" 
            [formUserIn]="formUser" 
            (usersOut)="users=$event"
            (displayOut)="userDialog=$event">
        </app-user-form>
    </p-dialog>
    <p-dialog [(visible)]="userEditDialog" [style]="{width: '850px'}" header="Usuario" [modal]="true"
        styleClass="p-fluid" (onHide)="userEditDialog=false">
        <app-user-edit-form
            [usersIn]="users"
            [formUserIn]="formUser" 
            (usersOut)="users=$event"
            (displayEditOut)="userEditDialog=$event">
        </app-user-edit-form>
    </p-dialog>
    <p-dialog [(visible)]="roleEditDialog" [style]="{width: '650px'}" header="Rol" [modal]="true"
    styleClass="p-fluid" (onHide)="roleEditDialog=false">
        <app-roles-edit-form
            [rolesIn]="roles" 
            [formRoleIn]="formRole" 
            (rolesOut)="roles=$event"
            (displayRoleEditOut)="roleEditDialog=$event">
        </app-roles-edit-form>
    </p-dialog>
</div>