<div class="card">
    <h5>Hoja de Vida</h5>
    <p-tabView>
        <p-tabPanel header="Datos Personales" leftIcon="pi pi-id-card" tooltip="">
            <app-skill></app-skill>
        </p-tabPanel>
        <p-tabPanel header="Habilidades" leftIcon="pi pi-heart" tooltip="">

        </p-tabPanel>
        <p-tabPanel header="Cursos y Capacitaciones" leftIcon="pi pi-star-o" tooltip="">
        <app-course></app-course>
        </p-tabPanel>
        <p-tabPanel header="Experiencia Profesional" leftIcon="pi pi-briefcase" tooltip="">
            <app-experience></app-experience>
        </p-tabPanel>
        <p-tabPanel header="Idiomas" leftIcon="pi pi-globe" tooltip="">
        </p-tabPanel>
        <p-tabPanel header="Referencias Personales" leftIcon="pi pi-users" tooltip="">
            <app-reference></app-reference>
        </p-tabPanel>
    </p-tabView>
</div>

