<div class="card">
    <h5>Tooltips</h5>
    <p-tabView>
        <p-tabPanel header="Datos Personales" leftIcon="pi pi-id-card" tooltip="">

        </p-tabPanel>
        <p-tabPanel header="Habilidades" rightIcon="pi pi-heart" tooltip="">
            <app-skill></app-skill>
        </p-tabPanel>
        <p-tabPanel header="Cursos y Capacitaciones" rightIcon="pi pi-star-o" tooltip="">
        </p-tabPanel>
        <p-tabPanel header="Experiencia Profesional" rightIcon="pi pi-briefcase" tooltip="">
        </p-tabPanel>
        <p-tabPanel header="Idiomas" rightIcon="pi pi-globe" tooltip="">
        </p-tabPanel>
        <p-tabPanel header="Referencias Personales" rightIcon="pi pi-users" tooltip="">
        </p-tabPanel>
    </p-tabView>
</div>

