<div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="p-mb-2 p-mr-2">Item 1</div>
    <div class="p-mb-2 p-mr-2">Item 2</div>
    <div class="p-mb-2 p-mr-2">Item 3</div>
</div>

<hr>

<div class="p-d-flex p-jc-center">
    <div class="p-mr-2">
        <h5>Filtrado por categorias.</h5>
        <p-tree [value]="files2" selectionMode="checkbox" [(selection)]="selectedFile" [filter]="true"></p-tree>
    </div>
    <div class="p-d-flex p-flex-column p-flex-md-row">
        <!--        <div class="p-mr-2 p-d-flex p-flex-column p-flex-md-row" *ngFor="let card of cards">-->
        <!--            <p-card header="Advanced Card" subheader="Card Subheader">-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error-->
        <!--                    repudiandae-->
        <!--                    numquam deserunt-->
        <!--                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate-->
        <!--                    neque quas!</p>-->
        <!--                <ng-template pTemplate="footer">-->
        <!--                    <p-button label="Save" icon="pi pi-check"></p-button>-->
        <!--                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"-->
        <!--                              [style]="{'margin-left': '.5em'}"></p-button>-->
        <!--                </ng-template>-->
        <!--            </p-card>-->
        <!--        </div>-->

        <div class="card">
            <p-dataView [value]="offers" [paginator]="true" [rows]="9" filterBy="description" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <!--                        <p-dropdown placeholder="Sort By Price" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>-->
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Buscar">
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-offer pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="offer-list-item">
                            <div class="offer-list-detail">
                                <div class="offer-name">{{ offer.categories[0].name }}</div>
                                <div class="offer-description">{{ offer.description }}</div>
                                <i class="pi pi-tag offer-category-icon"></i>
                                <span class="offer-category" *ngFor="let category of offer.categories">
                                    {{ category.name | slice:0:6}}</span>
                            </div>
                            <div class="offer-list-action">
                                <span class="offer-price">precio</span>
                                <p-button icon="pi pi-shopping-cart" label="Add to Cart"></p-button>
                                <span [class]="'offer-badge'">estado de inventario</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-offer pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="offer-grid-item card">

                            <!--                    <div class="offer-grid-item-top">-->
                            <!--                        <div>-->
                            <!--                            <i class="pi pi-tag offer-category-icon"></i>-->
                            <!--                            <span class="offer-category">categoria</span>-->
                            <!--                        </div>-->
                            <!--                        <span [class]="'offer-badge'">status</span>-->
                            <!--                    </div>-->
                            <div class="offer-grid-item-content">
                                <div class="offer-name">{{ offer.categories[0].name }}</div>
                                <div class="offer-description">{{ offer.description }}</div>
                            </div>
                            <div class="offer-grid-item-bottom">

                                <!--                                <p-button label="Save" icon="pi pi-check"></p-button>-->
                                <!--                                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"-->
                                <!--                                          [style]="{'margin-left': '.5em'}"></p-button>-->
                                <button pButton type="button" label="Primary"></button>
                                <button pButton type="button" label="Secondary" class="p-button-secondary"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>


    </div>
</div>



