<div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="p-mb-2 p-mr-2">Item 1</div>
    <div class="p-mb-2 p-mr-2">Item 2</div>
    <div class="p-mb-2 p-mr-2">Item 3</div>
</div>

<hr>

<div class="p-d-flex p-jc-center">
    <div class="p-mr-2">
        <h5>Filtrado por categorias.</h5>
        <p-tree [value]="files2" selectionMode="checkbox" [(selection)]="selectedFile" [filter]="true"></p-tree>
    </div>
    <div class="p-d-flex p-flex-column p-flex-md-row">
        <div class="p-mr-2 p-d-flex p-flex-column p-flex-md-row" *ngFor="let card of cards">
            <p-card header="Advanced Card" subheader="Card Subheader">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                              [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>


<!--<div class="card">-->
<!--    <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name"-->
<!--                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">-->
<!--        <ng-template pTemplate="header">-->
<!--            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">-->
<!--                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"-->
<!--                            (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>-->
<!--                <span class="p-input-icon-left p-mb-2 p-mb-md-0">-->
<!--                  <i class="pi pi-search"></i>-->
<!--                  <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">-->
<!--              </span>-->
<!--                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--        <ng-template let-product pTemplate="listItem">-->
<!--            <div class="p-col-12">-->
<!--                <div class="product-list-item">-->
<!--                    <div class="product-list-detail">-->
<!--                        <div class="product-name">{{product.name}}</div>-->
<!--                        <div class="product-description">{{product.description}}</div>-->
<!--                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>-->
<!--                        <i class="pi pi-tag product-category-icon"></i><span-->
<!--                            class="product-category">{{product.category}}</span>-->
<!--                    </div>-->
<!--                    <div class="product-list-action">-->
<!--                        <span class="product-price">${{product.price}}</span>-->
<!--                        <p-button icon="pi pi-shopping-cart" label="Add to Cart"-->
<!--                                  [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>-->
<!--                        <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--        <ng-template let-product pTemplate="gridItem">-->
<!--            <div class="p-col-12 p-md-4">-->
<!--                <div class="product-grid-item card">-->
<!--                    <div class="product-grid-item-top">-->
<!--                        <div>-->
<!--                            <i class="pi pi-tag product-category-icon"></i>-->
<!--                            <span class="product-category">{{product.category}}</span>-->
<!--                        </div>-->
<!--                        <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
<!--                    </div>-->
<!--                    <div class="product-grid-item-content">-->
<!--                        <div class="product-name">{{product.name}}</div>-->
<!--                        <div class="product-description">{{product.description}}</div>-->
<!--                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>-->
<!--                    </div>-->
<!--                    <div class="product-grid-item-bottom">-->
<!--                        <span class="product-price">${{product.price}}</span>-->
<!--                        <p-button icon="pi pi-shopping-cart"-->
<!--                                  [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--    </p-dataView>-->
<!--</div>-->
