<div class="p-grid">
    <div class="p-col-12">
        <app-experience-list
                [experiencesIn]="experiences"
                [flagExperiences]="flagExperiences"
                [paginatorIn]="paginator"
                [formExperienceIn]="formExperience"
                (experiencesOut)="experiences=$event"
                (displayOut)="experienceDialog=$event"
                (formExperienceOut)="formExperience=$event"
                (paginatorOut)="getExperiences($event)">
        </app-experience-list>

        <p-dialog [(visible)]="experienceDialog" [style]="{width: '450px'}" header="Experiencias" [modal]="true"
                  styleClass="p-fluid" (onHide)="experienceDialog=false">
            <app-experience-form
                    [experiencesIn]="experiences"
                    [formExperienceIn]="formExperience"
                    (experiencesOut)="experiences=$event"
                    (displayOut)="experienceDialog=$event">
            </app-experience-form>
        </p-dialog>
    </div>
</div>
