<div class="card">
    <app-upload-files (files)="upload($event)"></app-upload-files>
    <div>
        <p-paginator [rows]="paginatorIn.per_page" [totalRecords]="paginatorIn.total"
                     (onPageChange)="pageChange($event)"></p-paginator>
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger p-mr-2 p-mb-2"
                        (click)="delete()"
                        [disabled]="!selectedFiles || !selectedFiles.length"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt
                 editMode="row"
                 [value]="filesIn"
                 [rows]="paginatorIn.per_page"
                 [paginator]="false"
                 [(selection)]="selectedFiles"
                 [rowHover]="true"
                 dataKey="id"
                 styleClass="p-datatable-customers"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    <h5 class="p-m-0">Mis Archivos</h5>
                    <span class="p-input-icon-left" style="width: 20%">
                        <i class="pi pi-search" (click)="searchFiles($event,search.value)"></i>
                        <input #search pInputText type="text" (keyup)="searchFiles($event,$event.target.value)"
                               placeholder="Buscar..."/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="full_name">
                        Nombre
                        <p-sortIcon field="type"></p-sortIcon>
                    </th>
                    <th pSortableColumn="description">
                        Descripción
                        <p-sortIcon field="description"></p-sortIcon>
                    </th>
                    <th pSortableColumn="extension">
                        Tipo
                        <p-sortIcon field="extension"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-file let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="file">
                    <td>
                        <p-tableCheckbox [value]="file"></p-tableCheckbox>
                    </td>
                    <!--                    <td>-->
                    <!--                        {{file.full_name}}-->
                    <!--                    </td>-->
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text"
                                       [(ngModel)]="file.name">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{file.name}}.{{file.extension}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <textarea pInputTextarea
                                          [(ngModel)]="file.description"></textarea>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <textarea pInputTextarea disabled>{{file.description}}</textarea>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <img [src]="file.extension | extensions" alt="">
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(file)" class="p-button-rounded p-button-warning"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(file)"
                                class="p-button-rounded p-button-text p-button-success p-ml-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(file, ri)"
                                class="p-button-rounded p-button-text p-button-danger p-ml-2"></button>
                        <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-info p-ml-2"
                                (click)="download(file)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-ml-2"
                                (click)="delete(file)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{paginatorIn ? paginatorIn.total : 0 }} archivos.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>
