<div class="landing-body">
    <div class="landing-nav-menu" >
        <div class="logo">
            <a href="#">
                <img src="assets/layout/images/landing/logo-1.png" alt="mirage-layout"/>
                <span class="app-name">Bolsa de Empleo</span>
            </a>
        </div>
        <div class="nav-menu-wrapper">
            <ul class="nav-menu" id="landing-menu">
                <li class="active-link">
                    <button pButton pRipple type="button"
                            label="Acerca de Nosotros"
                            icon="pi pi-info-circle"
                            (click)="flagActualPage='about'"></button>
                </li>
                <li>
                    <button pButton pRipple type="button"
                            label="Profesionales"
                            icon="pi pi-users"
                            (click)="flagActualPage='professionals'"></button>
                </li>
                <li>
                    <button pButton pRipple type="button"
                            label="Ofertas"
                            icon="pi pi-briefcase"
                            (click)="flagActualPage='offers'"></button>
                </li>
            </ul>
        </div>

        <div style="text-align: right">
            <button pButton pRipple type="button" id="btnLogin"
                    label="Iniciar Sesión"
                    class="p-button-rounded"
                    icon="pi pi-sign-in"
                    [routerLink]="['/auth/login']">
            </button>
            <button pButton pRipple type="button" id="btnRegister"
                    label="Registro"
                    class="p-button-success p-button-rounded p-ml-2"
                    icon="pi pi-user-edit"
                    [routerLink]="['/job-board-web/company/register']"
            ></button>
        </div>
        <div class="menu-button">
            <a href="#" class="landing-menu-button" id="landing-menu-button">
                <div class="landing-menu-button-icon"></div>
            </a>
        </div>
    </div>
    <div id="home" class="landing-header-wrapper">
        <div class="sun">
            <img src="../layout/images/pages/landing/asset-sun.svg" alt="mirage-layout"/>
        </div>
        <div class="landing-header-content">
            <h1>PrimeTek Proudly Presents</h1>
            <p>The most Powerful Bootstrap Admin Template Ever Made</p>
            <div class="video-button">
                <button>Watch Video</button>
            </div>
        </div>
        <div class="tree">
            <img src="../layout/images/pages/landing/asset-palm.svg" alt="mirage-layout"/>
        </div>
    </div>

    <div id="meet-mirage" class="section">
        <div class="feature-cards">
            <app-web-professional *ngIf="flagActualPage==='professionals'"></app-web-professional>
            <app-web-offer *ngIf="flagActualPage==='offers'"></app-web-offer>
        </div>
        <div class="buy-mirage-promo-wrapper">
            <div class="buy-mirage-promo">
                <div class="promo-content">
                    <h1>Join the people of Mirage now…</h1>
                    <p>We know your time is precious. That’s why we create premium application templates to save time
                        for
                        another important things.</p>
                </div>
                <div class="promo-button">
                    <button>Buy Mirage Now</button>
                </div>
            </div>
        </div>
    </div>

    <div id="multimedia" class="section">
        <div class="section-title">
            <h1>Multimedia</h1>
            <p>Duis nec lobortis massa, sed facilisis lorem. In hac habitasse platea dictumst.</p>
        </div>
        <div class="multimedia-video-wrapper">
            <iframe src="https://www.youtube.com/embed/B_lYGUtCd0g" frameborder="0" allowfullscreen="true"></iframe>
        </div>
        <div class="effect">
            <img src="../layout/images/pages/landing/effect-bottom.svg" alt="mirage-layout"/>
        </div>
    </div>

    <div class="footer">
        <div class="logo-text">
            <img src="../layout/images/logo-mirage@2x.png" alt="mirage-layout"/>
            <div class="text">
                <h1>Mirage</h1>
                <span>Premium Application Template</span>
            </div>
        </div>
        <div class="icons">
            <div class="icon icon-hastag">
                <a href="#">
                    <img src="../layout/images/landing/icon-twitter.png" width="18">
                </a>
            </div>
            <div class="icon icon-twitter">
                <a href="#">
                    <img src="../layout/images/landing/icon-facebook.png" width="18" height="18">
                </a>
            </div>
            <div class="icon icon-prime">
                <a href="#">
                    <img src="../layout/images/landing/icon-github.png" width="18">
                </a>
            </div>
        </div>
        <div class="landing-mask" id="landing-mask"></div>
    </div>
</div>
