<div class="p-fluid">
    <form [formGroup]="formUserIn" (ngSubmit)="onSubmit($event)">
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="identification">Identificación</label>
                <input pInputText id="identification" type="text" formControlName="identification">
                <div *ngIf="identificationField.errors && identificationField.touched">
                    <small *ngIf="identificationField.hasError('required')" id="identification-help-1" class="p-error">
                        El campo es obligatorio.
                    </small>
                </div>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="first_name">Nombres</label>
                <input pInputText id="first_name" type="text" formControlName="names">
                <div *ngIf="firstNameField.errors && firstNameField.touched">
                    <small *ngIf="firstNameField.hasError('required')" id="first_name-help-1" class="p-error">
                        El campo es obligatorio.
                    </small>
                </div>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="first_lastname">Primer Apellido</label>
                <input pInputText id="first_lastname" type="text" formControlName="first_lastname">
                <div *ngIf="firstLastnameField.errors && firstLastnameField.touched">
                    <small *ngIf="firstLastnameField.hasError('required')" id="first_lastname-help-1" class="p-error">
                        El campo es obligatorio.
                    </small>
                </div>
            </div>
            <div class="p-field p-col">
                <label for="second_lastname">Segundo Apellido</label>
                <input pInputText id="second_lastname" type="text" formControlName="second_lastname">
                <div *ngIf="secondLastnameField.errors && secondLastnameField.touched">
                    <small *ngIf="secondLastnameField.hasError('required')" id="second_lastname-help-1" class="p-error">
                        El campo es obligatorio.
                    </small>
                </div>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="email">Correo electrónico</label>
                <input pInputText id="email" type="text" formControlName="email">
                <div *ngIf="emailField.errors && emailField.touched">
                    <small *ngIf="emailField.hasError('required')" id="email-help-1" class="p-error">
                        El campo es obligatorio.
                    </small>
                </div>
                <div *ngIf="emailField.errors && (emailField.touched || emailField.dirty)">
                    <small *ngIf="emailField.hasError('email')" id="email-help-1" class="p-error">
                        Correo No valido
                    </small>
                </div>
            </div>
           
        </div>
        <div class="p-formgrid p-grid">
          
           
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <button type="submit" pButton pRipple label="Guardar y Salir" icon="pi pi-save"
                    class="p-button-success p-button-raised"></button>
            </div>
            <div *ngIf="!idField.value" class="p-field p-col">
                <button type="button" pButton pRipple label="Guardar" icon="pi pi-arrow-right" class="p-button-raised"
                    (click)="onSubmit($event,true)"></button>
            </div>
        </div>
    </form>
</div>