<form [formGroup]="formChangePasspword" (ngSubmit)="changePassword()">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-lg-12 p-md-12 p-sm-12">
            <label for="password-old">Contraseña Actual:</label>
            <p-password id="password-old" name="password-old" formControlName="password_old"
                        [toggleMask]="true" [feedback]="false"></p-password>
            <div *ngIf="passwordOldField().errors && passwordOldField().touched">
                <small id="password-old-help-1" class="p-error"
                       *ngIf="passwordOldField().hasError('required')">
                    El campo es requerido.
                </small>
            </div>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-lg-12 p-md-12 p-sm-12">
            <label for="password">Contraseña Nueva:</label>
            <p-password id="password" name="password" formControlName="password"
                        [toggleMask]="true" [feedback]="false"></p-password>
            <div *ngIf="passwordField().errors && passwordField().touched">
                <small id="password-help-1" class="p-error"
                       *ngIf="passwordField().hasError('required')">
                    <p>El campo es requerido.</p>
                </small>
                <small id="password-help-2" class="p-error"
                       *ngIf="passwordField().hasError('minlength')">
                    <p>Mínimo de caracteres es {{passwordField().errors.minlength.requiredLength}}.</p>
                </small>
                <small id="password-help-3" class="p-error"
                       *ngIf="passwordField().value !== passwordField().value">
                    <p>Las contraseñas no coinciden.</p>
                </small>
                <small id="password-help-4" class="p-error"
                       *ngIf="passwordField().hasError('hasNumber')">
                    <p>Debe contener al menos un número.</p>
                </small>
                <small id="password-help-5" class="p-error"
                       *ngIf="passwordField().hasError('hasLowerCase')">
                    <p>Debe contener al menos una letra minúscula.</p>
                </small>
                <small id="password-help-6" class="p-error"
                       *ngIf="passwordField().hasError('hasUpperCase')">
                    <p>Debe contener al menos una letra mayúscula.</p>
                </small>
            </div>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-lg-12 p-md-12 p-sm-12">
            <label for="password-confirmation">Repita la contraseña:</label>
            <p-password id="password-confirmation" name="password-confirmation"
                        formControlName="password_confirmation" [toggleMask]="true" [feedback]="false">
            </p-password>
            <div *ngIf="passwordConfirmationField().errors && passwordConfirmationField().touched">
                <small id="password-confirmation-help-1" class="p-error"
                       *ngIf="passwordConfirmationField().hasError('required')">
                    El campo es requerido.
                </small>
                <small id="password-confirmation-help-2" class="p-error"
                       *ngIf="passwordConfirmationField().hasError('minlength')">
                    Mínimo de caracteres
                    es {{passwordConfirmationField().errors.minlength.requiredLength}}.
                </small>
                <small id="password-confirmation-help-3" class="p-error"
                       *ngIf="passwordConfirmationField().hasError('NoPassswordMatch')">
                    Las contraseñas no coinciden.
                </small>
            </div>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-lg-12 p-md-12 p-sm-12">
            <button type="submit" pButton pRipple label="Cambiar" icon="pi pi-refresh"
                    class="p-button-raised"
                    [disabled]="formChangePasspword.invalid"></button>
        </div>
    </div>
</form>
