<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                (click)="openNewFormOffer()"></button>
            <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger p-mr-2 p-mb-2"
                (click)="deleteSkills()" [disabled]="!selectedSkills || !selectedSkills.length"></button>
            <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-info p-mb-2"
                (click)="paginatorOut.emit(paginatorIn)"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
                (click)="dt.exportCSV()"></button>
        </ng-template>
    </p-toolbar>
    <p-paginator [rows]="paginatorIn.per_page" [totalRecords]="paginatorIn.total" (onPageChange)="pageChange($event)">
    </p-paginator>
    <p-table #dt [value]="offersIn" [columns]="colsOffer" [rows]="paginatorIn.per_page" [paginator]="false"
        [(selection)]="selectedOffers" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0">Habilidades</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search" (click)="searchOffers($event,search.value)"></i>
                    <input #search pInputText type="text" (keyup)="searchOffers($event,$event.target.value)"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="type">
                    Id
                    <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th pSortableColumn="description">
                    Codigo
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="description">
                    Descripción
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="description">
                    Vacantes
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-offer>
            <tr>
                <td>
                    <p-tableCheckbox [value]="offer"></p-tableCheckbox>
                </td>
                <td>
                    {{offer.id}}
                </td>
                <td>
                    {{offer.code}}
                </td>
                <td>
                    {{offer.description}}
                </td>
                <td>
                    {{offer.vacancies}}
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                        (click)="openEditFormOffer(offer)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteOffer(offer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{offersIn ? offersIn.length : 0 }} habilidades.
            </div>
        </ng-template>
    </p-table>
</div>