<app-skeleton *ngIf="flagOffers" [type]="'table'"></app-skeleton>
<div class="card" [hidden]="flagOffers">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Crear" 
                    icon="pi pi-plus" 
                    class="p-button-success p-button-rounded"
                    (click)="openNewFormOffer()"></button>
            <button pButton pRipple label="Eliminar" 
                    icon="pi pi-trash" 
                    class="p-button-danger p-button-rounded p-ml-2"
                    (click)="deleteOffers()" 
                    [disabled]="!selectedOffers || !selectedOffers.length"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Actualizar" 
                    icon="pi pi-refresh" 
                    class="p-button-info"
                    (click)="paginatorOut.emit(paginatorIn)"></button>
        </ng-template>
    </p-toolbar>
    <p-paginator [rows]="paginatorIn.per_page" [totalRecords]="paginatorIn.total" 
                (onPageChange)="paginateOffer($event)"></p-paginator>
    <p-table #dt 
            [value]="offersIn" 
            [columns]="colsOffer" 
            [rows]="paginatorIn.per_page" 
            [paginator]="false"
            [(selection)]="selectedOffers" 
            [rowHover]="true" 
            dataKey="id" 
            styleClass="p-datatable-customers"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0">Mis Ofertas</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search" (click)="searchOffers($event,search.value)"></i>
                    <input pInputText #search type="text" 
                        (keyup)="searchOffers($event,$event.target.value)"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="text-align:center">
                    <button pButton pRipple
                            type="button" id="btnOptions"
                            icon="pi pi-cog" class="p-button-secondary"
                            disabled>
                    </button>    
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-rowData>
            <tr>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]?.name ? rowData[col.field]?.name : rowData[col.field]}}
                </td>
                <td style="text-align:center">
                    <button pButton pRipple
                            type="button" 
                            id="btnEdit"
                            pTooltip="Editar" 
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning"
                            (click)="openEditFormOffer(rowData)"></button>
                    <button pButton pRipple
                            type="button" id="btnDelete"
                            pTooltip="Eliminar" icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-ml-2"
                            (click)="deleteOffer(rowData)"></button>
                    <button pButton pRipple
                            type="button" id="btnProfessionals"
                            pTooltip="Profesionales" icon="pi pi-user"
                            class="p-button-rounded p-button-info p-ml-2"
                            (click)="showProfessionals(rowData.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{offersIn ? offersIn.length : 0 }} ofertas.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Profesionales" [(visible)]="professionalsDialog" 
        [modal]="true" 
        [style]="{width: '50vw'}" 
        [maximizable]="true" 
        [baseZIndex]="10000"
        [draggable]="false" 
        [resizable]="false"
        [style]="{width: '70vw'}">
        <app-offer-professionals [professionalsIn]="professionals"
                        [paginatorIn]="paginator"
                        [flagProfessionals]="flagProfessionals">
        </app-offer-professionals>
</p-dialog>