<p-paginator [rows]="paginator.per_page" [totalRecords]="paginator.total" (onPageChange)="paginate($event)"></p-paginator>
<br>
<div class="p-grid">
    <div class="p-col-4" *ngFor="let professional of professionals">
        <p-card>
            <ng-template pTemplate="title" *ngFor="let academicFormation of professional.academic_formations">
                {{academicFormation.professional_degree.name}}
            </ng-template>
            {{professional.about_me}}
            <ng-template pTemplate="footer">
                Más información
            </ng-template>
        </p-card>
    </div>
</div>
