<div class="p-grid">
    <div class="p-col-4">
        <app-category-filter
            [categoriesIn]="categories"
            [bodyIn]="body"
            (bodyOut)="changeBody($event)">
        </app-category-filter>
    </div>
    <div class="p-col-8">
        <app-filter
            [bodyIn]="body"
            (bodyOut)="changeBody($event)">
        </app-filter>
        <br>
        <app-professional-list 
            [professionalsIn]="professionals"
            [paginatorIn]="paginator"
            [flagProfessionals]="flagProfessionals"
            (paginatorOut)="changePaginator($event)">
        </app-professional-list>
    </div>
</div>


