<div class="p-fluid">
    <form [formGroup]="formSkillIn" (ngSubmit)="onSubmit($event)">
        <div class="p-field">
            <label for="type">Tipo</label>
            <p-autoComplete id="type" formControlName="type" [suggestions]="filteredTypes"
                            (completeMethod)="filterType($event)" field="name" [dropdown]="true">
                <ng-template let-type pTemplate="item">
                    <div class="country-item">
                        <div>{{type.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div *ngIf="typeField.errors && (typeField.touched || typeField.dirty)">
                <small *ngIf="typeField.hasError('required')"
                       id="type-help-1" class="p-error">
                    El campo es obligatorio.
                </small>
            </div>
        </div>
        <div class="p-field">
            <label for="description">Descripción</label>
            <textarea pInputTextarea id="description" formControlName="description" rows="5"></textarea>
            <div *ngIf="descriptionField.errors && (descriptionField.touched || descriptionField.dirty)">
                <small *ngIf="descriptionField.hasError('required')"
                       id="description-help-1" class="p-error">
                    El campo es obligatorio.
                </small>
                <small *ngIf="descriptionField.hasError('minlength')"
                       id="description-help-2" class="p-error">
                    Mínimo de caracteres es {{descriptionField.errors.minlength.requiredLength}}.
                </small>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <button type="submit" pButton pRipple label="Guardar y Salir" icon="pi pi-save"
                        class="p-button-success p-button-raised"></button>
            </div>
            <div *ngIf="!idField.value" class="p-field p-col">
                <button type="button" pButton pRipple
                        label="Guardar"
                        icon="pi pi-arrow-right"
                        class="p-button-raised"
                        (click)="onSubmit($event,true)"
                ></button>
            </div>
        </div>
    </form>
</div>
