<div class="logo">
    <img src="assets/layout/images/login/password_change.png" alt="mirage-layout"/>
    <h1>Por favor, cambie su contraseña</h1>
</div>
<div class="forms">
    <form [formGroup]="formChangePassword" (ngSubmit)="onSubmitChangePassword($event)">
        <div class="login-input-wrapper">
            <label for="password">Nueva Contraseña:</label>
            <input type="password" pPassword id="password" name="password"
                   formControlName="password"
                   placeholder="Ingrese su nueva contraseña"
                   [feedback]="false"
                   [showPassword]="flagShowPassword"/>

            <!--                            <p-password id="new_password" name="new_password" formControlName="new_password"-->
            <!--                                        [toggleMask]="true">-->
            <!--                                <ng-template pTemplate="header">-->
            <!--                                    <h6>Pick a password</h6>-->
            <!--                                </ng-template>-->
            <!--                                <ng-template pTemplate="footer">-->
            <!--                                    <p-divider></p-divider>-->
            <!--                                    <p class="p-mt-2">Suggestions</p>-->
            <!--                                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">-->
            <!--                                        <li>At least one lowercase</li>-->
            <!--                                        <li>At least one uppercase</li>-->
            <!--                                        <li>At least one numeric</li>-->
            <!--                                        <li>Minimum 8 characters</li>-->
            <!--                                    </ul>-->
            <!--                                </ng-template>-->
            <!--                            </p-password>-->
            <div *ngIf="passwordField.errors && passwordField.touched">
                <small id="password-help-1" class="p-error"
                       *ngIf="passwordField.hasError('required')">
                    El campo es requerido.
                </small>
                <small id="password-help-2" class="p-error"
                       *ngIf="passwordField.hasError('minlength')">
                    Mínimo de caracteres
                    es {{passwordField.errors.minlength.requiredLength}}.
                </small>
            </div>
            <small id="password-help-3" class="p-error"
                   *ngIf="passwordField.errors && checkPasswords()">
                Las contraseñas no coinciden.
            </small>
        </div>
        <div class="login-input-wrapper">
            <label for="password_confirmation">Confirmar Contraseña:</label>
            <input type="password" pPassword id="password_confirmation" name="password_confirmation"
                   formControlName="password_confirmation"
                   placeholder="Repita la contraseña" [feedback]="false"
                   [showPassword]="flagShowPassword"/>
            <i (click)="flagShowPassword=!flagShowPassword" class="pi"
               [ngClass]="{'pi-eye-slash':flagShowPassword,'pi-eye':!flagShowPassword}"
               [pTooltip]="flagShowPassword?'Ocultar Contraseña':'Mostrar Contraseña'"></i>
            <div *ngIf="passwordConfirmationField.errors && passwordConfirmationField.touched">
                <small id="password_confirm1Help" class="p-error"
                       *ngIf="passwordConfirmationField.hasError('required')">
                    El campo es requerido.
                </small>
                <small id="password_confirm2Help" class="p-error"
                       *ngIf="passwordConfirmationField.hasError('minlength')">
                    Mínimo de caracteres
                    es {{passwordConfirmationField.errors.minlength.requiredLength}}.
                </small>
            </div>
            <small id="password_confirm3Help" class="p-error"
                   *ngIf="passwordConfirmationField.dirty && checkPasswords()">
                Las contraseñas no coinciden.
            </small>
        </div>
        <div class="buttons">
            <button id="changePassword" name="changePassword" type="submit" pButton
                    label="Cambiar Contraseña"
                    icon="pi pi-key"></button>
        </div>
        <p-messages [value]="msg"></p-messages>
    </form>
</div>
