// body {
//    background: url('https://storage.googleapis.com/site.esss.co/43dced96-2017-03-29-thumb-software-estudantes.jpg') fixed;
//    background-size: cover;
// }
.card1 {
   margin: 0 auto;
   width: 50%;
   background: rgb(255, 253, 253);
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
   float: none;
  }

