 body {
   background: url('../utils/YaviracRP.jpg') no-repeat fixed;
   background-size: cover;
   width: 100%;
 }
 
.card1 {
   margin:0 auto;
   width: 50%;
   background: rgb(255, 253, 253);
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.3);
   float: none;
  }
  @media only screen and (max-width: 854px) {
    body {
      background: url('../utils/YaviracRP.jpg') no-repeat fixed;
      background-size: cover;
      width: 100%;
    }
    .card1 {
      margin:0 0 0 auto;
      width: 60%;
      background: rgb(255, 253, 253);
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.3);
      float: none;
     }

  }

