{{formLanguageIn.value|json}}
<div class="p-fluid">
    <form [formGroup]="formLanguageIn" (ngSubmit)="onSubmit($event)">
       
       
        <div class="p-field">
            <label for="professional">
                <i class="p-error">*</i> Profesional:
                <i *ngIf="professionalField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="professionalField.invalid && (professionalField.touched || professionalField.dirty)"
                   class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-autoComplete id="professional" name="professional" formControlName="professional" [suggestions]="filteredProfessionals"
                            (completeMethod)="filterProfessional($event)" field="professional" [dropdown]="true">
                <ng-template let-type pTemplate="item">
                    <div class="country-item">
                        <div>{{professional.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div *ngIf="professionalField.invalid && (professionalField.touched || professionalField.dirty)">
                <small *ngIf="professionalField.errors?.required"
                       id="professional-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>

      
       
        <div class="p-field">
            <label for="idiom">
                <i class="p-error">*</i> Idioma:
                <i *ngIf="idiomField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="idiomField.invalid && (idiomField.touched || idiomField.dirty)"
                   class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-autoComplete id="idiom" name="idiom" formControlName="idiom" [suggestions]="filteredIdioms"
                            (completeMethod)="filterIdiom($event)" field="idiom" [dropdown]="true">
                <ng-template let-type pTemplate="item">
                    <div class="country-item">
                        <div>{{idiom.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div *ngIf="idiomField.invalid && (idiomField.touched || idiomField.dirty)">
                <small *ngIf="idiomField.errors?.required"
                       id="idiom-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>

        <div class="p-field">
            <label for="written_level">
                <i class="p-error">*</i> Nivel escrito:
                <i *ngIf="written_levelField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="written_levelField.invalid && (written_levelField.touched || written_levelField.dirty)"
                   class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-autoComplete id="written_level" name="written_level" formControlName="written_level" [suggestions]="filteredWitten_levels"
                            (completeMethod)="filterWritten_level($event)" field="written_level" [dropdown]="true">
                <ng-template let-type pTemplate="item">
                    <div class="country-item">
                        <div>{{spoken_level.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div *ngIf="written_levelField.invalid && (written_levelField.touched || written_levelField.dirty)">
                <small *ngIf="written_levelField.errors?.required"
                       id="written_level-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>
        <div class="p-field">
            <label for="spoken_level">
                <i class="p-error">*</i> Nivel hablado:
                <i *ngIf="spoken_levelField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="spoken_levelField.invalid && (spoken_levelField.touched || spoken_levelField.dirty)"
                   class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-autoComplete id="spoken_level" name="spoken_level" formControlName="spoken_level" [suggestions]="filteredSpoken_levels"
                            (completeMethod)="filterSpoken_level($event)" field="spoken_level" [dropdown]="true">
                <ng-template let-type pTemplate="item">
                    <div class="country-item">
                        <div>{{spoken_level.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div *ngIf="spoken_levelField.invalid && (spoken_levelField.touched || spoken_levelField.dirty)">
                <small *ngIf="spoken_levelField.errors?.required"
                       id="spoken_level-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>

        <div class="p-field">
            <label for="read_level">
                <i class="p-error">*</i>Nivel de lectura:
                <i *ngIf="read_levelField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="read_levelField.invalid && (read_levelField.touched || read_levelField.dirty)"
                   class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-autoComplete id="read_level" name="read_level" formControlName="read_level" [suggestions]="filteredRead_levels"
                            (completeMethod)="filterRead_level($event)" field="read_level" [dropdown]="true">
                <ng-template let-type pTemplate="item">
                    <div class="country-item">
                        <div>{{read_level.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div *ngIf="read_levelField.invalid && (read_levelField.touched || read_levelField.dirty)">
                <small *ngIf="read_levelField.errors?.required"
                       id="read_level-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>
        


 
         
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <button type="submit" pButton pRipple label="Guardar y Salir" icon="pi pi-save"
                    class="p-button-success p-button-raised"></button>
            </div>
            <div *ngIf="!idField.value" class="p-field p-col">
                <button type="button" pButton pRipple label="Guardar" icon="pi pi-arrow-right" class="p-button-raised"
                    (click)="onSubmit($event,true)"></button>
            </div>
        </div>
    </form>
</div>