<div class="p-fluid">
    <form [formGroup]="formAddress">
        <div class="p-field">
            <label>Sector:</label>
            <div class="p-formgrid p-grid">
                <div *ngFor="let sector of sectors">
                    <div class="p-field p-col">
                        <p-radioButton [inputId]="sector.id.toString()" name="sector" [value]="sector"
                                       [label]="sector.name"
                                       formControlName="sector"></p-radioButton>
                    </div>
                </div>
            </div>
            <div *ngIf="sectorField.errors && (sectorField.touched || sectorField.dirty)">
                <small *ngIf="sectorField.hasError('required')"
                       id="sector-help-1" class="p-error">
                    El campo es obligatorio.
                </small>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="main-street-input">Calle Principal:</label>
                <input id="main-street-input" type="text" pInputText formControlName="main_street"
                       (keypress)="updateValue()"/>
                <div *ngIf="mainStreetField.errors && (mainStreetField.touched || mainStreetField.dirty)">
                    <small *ngIf="mainStreetField.hasError('required')"
                           id="main-street-help-1" class="p-error">
                        El campo es obligatorio.
                    </small>
                </div>
            </div>
            <div class="p-field p-col">
                <label for="secondary-street-input">Calle Secundaria:</label>
                <input id="secondary-street-input" type="text" pInputText formControlName="secondary_street"
                       (keypress)="updateValue()"/>
                <div *ngIf="secondaryStreet.errors && (secondaryStreet.touched || secondaryStreet.dirty)">
                    <small *ngIf="mainStreetField.hasError('required')"
                           id="secondary-street-help-1" class="p-error">
                        El campo es obligatorio.
                    </small>
                </div>
            </div>
        </div>
        <p-fieldset legend="Detalle dirección (opcional)" [toggleable]="true" [collapsed]="true">
            <div class="p-field">
                <label for="reference-input">Referencia:</label>
                <textarea id="reference-input" pInputTextarea formControlName="reference"
                          (keypress)="updateValue()"></textarea>
            </div>
            <div class="p-field">
                <label for="number-input"># casa/departamento:</label>
                <input id="number-input" type="text" pInputText formControlName="number"
                       (keypress)="updateValue()"/>
            </div>
            <div class="p-field">
                <label for="post-code-input">Código Postal:</label>
                <div class="p-inputgroup">
                    <input id="post-code-input" type="text" pInputText formControlName="post_code"
                           (keypress)="updateValue()"/>
                    <a type="button" pButton pRipple icon="pi pi-search" pTooltip="Consultar código postal"
                       styleClass="p-button-danger"
                       href="https://www.codigopostal.gob.ec/" target="_blank"></a>
                </div>
            </div>
            <div class="p-field">
                <label for="latitude-input">Latitud:</label>
                <input id="latitude-input" type="text" pInputText formControlName="latitude"
                       (keypress)="updateValue()"/>
            </div>
            <div class="p-field">
                <label for="longitude-input">Longitud:</label>
                <input id="longitude-input" type="text" pInputText formControlName="longitude"
                       (keypress)="updateValue()"/>
            </div>
        </p-fieldset>
    </form>
</div>
