<p-dataView #filterBy [value]="offers" [paginator]="false" filterBy="requirements" layout="grid">
    <ng-template pTemplate="header">
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
            <p-button icon="pi pi-filter" label="Filtros" styleClass="p-mb-2"
                      (click)="showModalFilter()"></p-button>
            <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Buscar"
                                   (input)="filterBy.filter($event.target.value)">
                        </span>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
    </ng-template>
    <ng-template let-offer pTemplate="listItem">
        <div class="p-col-12">
            <!--            <div class="offer-list-item">-->
            <!--                <div class="offer-list-detail">-->
            <!--                    <div class="offer-name">{{ offer.position.name  }}</div>-->
            <!--                    <div class="offer-description">{{ offer.requirements }}</div>-->
            <!--                    <i class="pi pi-globe offer-category-icon"></i>-->
            <!--                    <span class="offer-category">-->
            <!--                                        {{ offer.location.region }}, {{ offer.location.subregion }}</span>-->
            <!--                </div>-->
            <!--                <div class="offer-list-action">-->
            <!--                    <p-button icon="pi pi-check" label="Aplicar" styleClass="p-col-12"-->
            <!--                              (click)="applyOffer(offer.id);" [style]="{'width': '100%'}"></p-button>-->
            <!--                    <p-button icon="pi pi-eye" label="Ver más" styleClass="p-button-secondary p-col-12"-->
            <!--                              [style]="{'width': '100%'}" (click)="showModalMoreInformation(offer);"></p-button>-->
            <!--                    <div class="p-col-12">-->
            <!--                        <i class="pi pi-users offer-category-icon"></i>-->
            <!--                        <span [class]="'offer-badge'">{{ offer.vacancies }} vacantes</span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <app-data-view-list-item [offer]="offer" (idOffer)="applyOffer($event)"></app-data-view-list-item>
        </div>
    </ng-template>
    <ng-template let-offer pTemplate="gridItem">
        <div class="p-col-12 p-md-4">
            <div class="offer-grid-item card">
<!--                <div class="offer-grid-item-top">-->
<!--                    <div>-->
<!--                        <i class="pi pi-globe offer-category-icon"></i>-->
<!--                        <span class="offer-category">-->
<!--                            {{ offer.location.region }}-->
<!--                            , {{ offer.location.subregion }}</span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <i class="pi pi-users offer-category-icon"></i>-->
<!--                        <span [class]="'offer-badge'">{{ offer.vacancies }} vacantes</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="offer-grid-item-content p-mt-2">-->
<!--                    <div class="offer-name">{{ offer.position.name }}</div>-->
<!--                    <div class="offer-description">{{ offer.requirements }}</div>-->
<!--                </div>-->
<!--                <div class="offer-grid-item-bottom">-->
<!--                    <p-button *ngIf="displayButtonApply" label="Aplicar" icon="pi pi-check" styleClass="p-col-12"-->
<!--                              (click)="applyOffer(offer.id);"></p-button>-->
<!--                    <p-button label="Ver más" icon="pi pi-eye" (click)="showModalMoreInformation(offer);"-->
<!--                              styleClass="p-button-secondary p-col-12"></p-button>-->
<!--                </div>-->
                <app-data-view-grid-item [offer]="offer" (idOffer)="applyOffer($event)"></app-data-view-grid-item>
            </div>
        </div>
    </ng-template>
</p-dataView>

